.carousel-title {
  background: rgba(60, 65, 65, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.hero-button-div {
  display: block;
}

.carousel-button {
  background-image: linear-gradient(to bottom, #ed3d6f, #bf1f7c);
  border: none;
  height: 50px;
  width: 175px;
  color: white;
  display: block;
  margin: auto;
}

.carousel-button:hover {
  background-image: linear-gradient(to bottom, #bf1f7c, #ed3d6f);
}

.button-link:hover {
  text-decoration: none;
}

button:active, button:focus {
  outline: none !important;
}

#carouselExampleSlidesOnly {
  padding-top: 50px;
}

.carousel-caption {
  padding-bottom: 100px;
}

.col-md-4 {
  text-align: center;
  color: #ed3d6f;
  padding-top: 30px;
}

.col-md-4 h3:hover {
  color: #bf1f7c;
}

.fa-div {
  height: 70px;
  width: 70px;
  background-image: linear-gradient(to bottom, #ed3d6f, #bf1f7c);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 40px;
  padding-top: 3px;
}

.fa-div:hover {
  font-size: 100px;
  background-image: linear-gradient(to bottom, #bf1f7c, #ed3d6f);
  font-size: 40px;
}

.flex-container {
  flex-direction: row;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.card-container {
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  max-width: 600px;
}

.order-container {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 50px;
}

.card {
  margin: 10px;
}

.footer {
  height: 150px;
  background-color: #ed3d6f;
  width: 100%;
  margin-top: 75px;
  padding-top: 40px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  color: white;
}

.footer-left {
  flex-grow: 1;
}

.footer-right {
  /*justify-content: flex-end;
  align-self: flex-end;
  color: #fff;*/
}

.footer-homelink {
  color: #fff;
}

.footer-homelink:hover {
  color: #e0e0e0;
  text-decoration: none;
}

.footer-ul {
  list-style: none;
  text-align: right;
}

.footer-link {
  color: #fff;
}

.footer-link:hover {
  color: #e0e0e0;
  text-decoration: none;
}

.subfooter {
  height: 50px;
  background-color: #bf1f7c;
  width: 100%;
}

.copy-text {
  color: #c2c2c2;
  padding-top: 10px;
}
